<%# This code is for admin page. Admin can edit their own account using edit profile button %>
<p style="color: green"><%= notice %></p> 
<h3>Administrator Landing Page</h3>

<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary" %>