<p style="color: green"><%= notice %></p>

<%= render @philosopher %>

<div class="mb-3">
  <%= link_to "Edit this philosopher", edit_philosopher_path(@philosopher) %> 
</div>  
 
<div class="mb-3">
<%= link_to "Back to Add Quotes", new_quote_path, class: "btn btn-primary" %>
</div>
